.container-fluid{
	font-family: robotolight;
}
.formBody{
    margin-top: 20px;
}

.form-control {
  font-family: robotoregular;
  font-size: small;
}

.control-label {
  font-family: robotoregular;
  font-size: small;
}

h3.thick{
  font-weight: bold;
}

#top .social {
    float: left;
    text-align: right;
  }
  #top .social a {
    color: #999999;
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    line-height: 20px;
    font-size: 12px;
    text-align: center;
    vertical-align: bottom;
  }
  #top .social a:hover {
    color: #fff;
  }
  #top .social a:hover.facebook {
    background-color: #4460ae;
  }
  #top .social a:hover.gplus {
    background-color: #c21f25;
  }
  #top .social a:hover.twitter {
    background-color: #3cf;
  }
  #top .social a:hover.instagram {
    background-color: #cd4378;
  }
  #top .social a:hover.email {
    background-color: #4a7f45;
  }
  #top .login {
    float: right;
    margin-top: 6px;
  }
  #top .login a {
    font-size: 12px;
    color: #eeeeee;
    margin-right: 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.10em;
  }
  
  .form-horizontal .control-label:nth-child(2){
    text-align: left;
    color: #2f2f2f;
    font-size: 13px;
    line-height: 1.7;
}


@media print {
  .printView{
    column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;
  }

  .formBody{
      margin: 0;
  }

  .headerBar{
      display: none;
  }
}