<div class="container-fluid" style="position: relative; height: 100%">
        <div class="row" style="height: 100%">
            <section>
                <div class="panel panel-default" style="margin: 0">
                    <div class="panel-body">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-sm-3">
<a routerLink="/home" style='text-decoration:none;'>          
          <h4 style="margin: 12px 0px;"><span style="color: #fff;background: #ff3d00; padding: 1px 1px 1px 5px;">MARSEILLE2</span><span style="color: #ff3d00;background: #fff; padding: 1px 5px 1px 1px; text-shadow: 0px 1px #ff3d00;">MANHATTAN</span></h4>
          </a>
                                </div>
                                <div class="col-sm-9">
                                    <div class="col-sm-1 pull-right">
                                        <button type="submit" id="submit" class="btn btn-md btn-regular" title="Find Route Options"><i class="zmdi zmdi-boat"></i> <i class="glyphicon glyphicon-share-alt" style="font-size: 10px;"></i></button>
                                    </div>
                                    <form #searchForm="ngForm"  >
                                    <div class="col-sm-3 pull-right">
                                        <div class="wrap-input100">
                                            <!--input class="input100" value="{{this.locationObj.destination}}" id="end" type="text" name="Destination" placeholder="Enter Destination"-->
                                            <!--select class="input100" name="destination" #destination="ngModel">
                                                <option *ngFor="let origin of originList" 
                                                [value]="this.locationObj.destination" >
                                                    {{destination.name}}
                                                </option>
                                            </select-->
                                            <select class="input100" name="destination" >
                                                <option *ngFor="let dest of destinationList" 
                                                [value]="this.locationObj.destination" id="this.locationObj.destination" >
                                                    {{dest.name}}
                                                </option>
                                            </select>
                                            
                                            <span class="focus-input100" data-placeholder="&#xf1ab;"></span>
                                            <span class="errorMsg">Enter value to proceed</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-1 text-center pull-right">
                                        <button class="btn btn-regular btn-md" (onCclick)="findRoutes()"><i class="zmdi zmdi-swap"></i></button>
                                    </div>
                                    <div class="col-sm-3 pull-right">
                                        <div class="wrap-input100">
                                            <!--input class="input100" value="{{this.locationObj.origin}}" id="start" type="text" name="Origin" placeholder="Enter Origin"-->
                                            <select class="input100" name="origin" >
                                                <option *ngFor="let origin of originList" 
                                                [value]="" >
                                                    {{origin.name}}
                                                </option>
                                            </select>
                                            <span class="focus-input100" data-placeholder="&#xf299;"></span>
                                            <span class="errorMsg">Enter value to proceed</span>
                                        </div>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </section>
            <!--journeyLegs FOR THE ROUTE-->
            <div class="col-sm-9 col-xs-12 pull-right">
                <div class="capsuleWrapper row">
                    <div class="paths roadPath" *ngFor="let journeyLeg of this.journeyLeg">
                        <span class="orPortDate">{{journeyLeg.startDate}}</span>
                        <i class="fa fa-clock-o pull-left" aria-hidden="true"></i>
                        <span class="orPort">{{journeyLeg.origin}}</span>
                        <i [className]="journeyLeg.mode === 'inland' ? 'zmdi zmdi-truck' : 'zmdi zmdi-boat'"></i>
                        <span class="PortAArrival">{{journeyLeg.destination}}</span>
                        <i class="fa fa-clock-o pull-right" aria-hidden="true"></i>
                        <span class="PortADateArrival">{{journeyLeg.endDate}}</span>
                        <span class="price">&euro; {{journeyLeg.price}}</span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div>
                            <ul class="nav nav-tabs custom-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#home" class="waves-effect waves-light" aria-controls="home" role="tab" data-toggle="tab">Booking Header</a></li>
                                <li role="presentation"><a href="#profile" class="waves-effect waves-light" aria-controls="profile" role="tab" data-toggle="tab">Booking Parties</a></li>
                                <li role="presentation"><a href="#messages" class="waves-effect waves-light" aria-controls="messages" role="tab" data-toggle="tab">Cargo Details</a></li>
                            </ul>
                            <div class="tab-content custom-tab-content">
                                <div role="tabpanel" class="tab-pane active" id="home">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="formInputGroup">
                                                <input required='' type='text'>
                                                <label alt='Enter Contract Number' placeholder='Contract Number'></label>
                                            </div>
                                            <div class="formInputGroup">
                                                <input required='' type='text'>
                                                <label alt='Enter Booking Office' placeholder='Booking Office'></label>
                                            </div>
                                            <div class="formInputGroup">
                                                <input required='' type='text'>
                                                <label alt='Enter Shipper Reference' placeholder='Shipper Reference'></label>
                                            </div>
                                            <div class="formInputGroup">
                                                <input required='' type='text'>
                                                <label alt='Enter Forwarder Reference' placeholder='Forwarder Reference'></label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="profile">2</div>
                                <div role="tabpanel" class="tab-pane" id="messages">3</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 sidePanel col-xs-12 pull-left">
             <!--ROUTER CARD DESIGN HERE-->
             <div class="card " *ngFor="let allRouteDetail of this.allRouteDetails;let routeIndex=index" (click)="displayJourneyLegs(routeIndex, allRouteDetail.journeyLegs)"> 
             <!--This div needs to be added in case of ng-repeat -->
                    <div [className]="this.chkindex == routeIndex ? 'card-title activator grey-text text-lighten-5 active' : 'card-title activator grey-text text-lighten-5'">Route {{routeIndex+1}}<i class="material-icons pull-right"><i class="zmdi zmdi-long-arrow-right"></i></i></div>
                    <a class="btn-floating halfway-fab waves-effect waves-light red" title="Select Route"><i class="material-icons"><span class="glyphicon glyphicon-share-alt"></span></i></a>
                    <div class="card-content">
                        <ul class="list-group" id="listDetails">
                            <li class="list-group-item"> {{allRouteDetail.routekey}}</li>
                            <li class="list-group-item"> {{this.locationObj.origin}}</li>
                            <li class="list-group-item"> {{this.locationObj.destination}}</li>
                            <li class="list-group-item">  {{allRouteDetail.duration}} days 23hrs 16mins</li>
                            <li class="list-group-item"> 23055kms</li>
                            <li class="list-group-item cost"> &euro; {{allRouteDetail.price}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>