.container-fluid{
	font-family: robotolight;
}
.DestPort2{
	position: absolute;
    bottom: -15px;
    right: -20px;
    color: #a01d0a;
    font-size: 12px;
    font-family: robotoregular;
    text-transform: uppercase;
}
.my-panel {
		border-radius: 4px;
		background-color: White;
		padding: 20px;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
		position: relative;
}

.panel-red {
  border-color: #a01d0a;
}
.panel-red > .panel-heading {
  border-color: #a01d0a;
  color: white;
  background-color: #a01d0a;
}
.panel-red > .panel-body {
  border-color: #a01d0a;
  color: #808080;
  background-color: #e5e5e5;
}
.panel-red > a {
  color: #a01d0a;
}
.panel-red > a:hover {
  color: White;
}
.myred{
	color: #a01d0a;
	font-size: 2.5rem;
	font-weight: 800;
}

.routeDate{
    position: absolute;
    bottom: 25px;
    left: 5px;
    color: White;
    font-size: 8px;
    background: #008000;
    font-weight: 800;
}

#top .social {
  float: left;
  text-align: right;
}
#top .social a {
  color: #999999;
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  line-height: 20px;
  font-size: 12px;
  text-align: center;
  vertical-align: bottom;
}
#top .social a:hover {
  color: #fff;
}
#top .social a:hover.facebook {
  background-color: #4460ae;
}
#top .social a:hover.gplus {
  background-color: #c21f25;
}
#top .social a:hover.twitter {
  background-color: #3cf;
}
#top .social a:hover.instagram {
  background-color: #cd4378;
}
#top .social a:hover.email {
  background-color: #4a7f45;
}
#top .login {
  float: right;
  margin-top: 6px;
}
#top .login a {
  font-size: 12px;
  color: #eeeeee;
  margin-right: 15px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.10em;
}
@media (max-width: 767px) {
  #top .login {
    float: left;
  }
}
#top.light {
  background: #fff;
  color: #999999;
  border-bottom: solid 1px #eeeeee;
}
#top.light .login a {
  color: #555555;
}