<form #bookingForm="ngForm" name="bookingForm" (ngSubmit)="createFastBooking()" id="bookingForm">
        <div class="row">
            <div class="col-md-8" >
                <div class="gridRadio">
                    <!-- <span class="myredbold">Container type</span> -->
                    <ul>
                        <li>
                        <input type="radio" id="ct1" name="radioContainerType" checked (change)="displayValue('containerType','D20');" />
                            <label for="ct1">20DR</label>
                        </li>
                        <li>
                            <input type="radio" id="ct2" name="radioContainerType"  (change)="displayValue('containerType','D40');" />
                            <label for="ct2">40DR</label>
                        </li>
                        <li>
                            <input type="radio" id="ct3" name="radioContainerType"  (change)="displayValue('containerType','D45');" />
                            <label for="ct3">45DR</label>
                        </li>
                        <li>
                            <input type="radio" id="ct4" name="radioContainerType"  (change)="displayValue('containerType','20RF');" />
                            <label for="ct4">20RF</label>
                        </li>
                        <li>
                            <input type="radio" id="ct5" name="radioContainerType"  (change)="displayValue('containerType','40RF');" />
                            <label for="ct5">40RF</label>
                        </li>
                        <li>
                            <input type="radio" id="ct6" name="radioContainerType"  (change)="displayValue('containerType','45RF');" />
                            <label for="ct6">45RF</label>
                        </li>
                        <li>
                            <input type="radio" id="ct8" name="radioContainerType"  (change)="displayValue('containerType','45HC');" />
                            <label for="ct8">45HC</label>
                        </li>
                    </ul>
                </div>
    
                <div class="gridRadio">
                    <!-- <span class="myredbold">Commodity</span> -->
                    <ul>
                        <li>
                            <input type="radio" id="cb1" name="rad1" (change)="displayValue('comodity','Beverage');" />
                            <label for="cb1">
                                <img src="assets/img/beer.svg" alt="Beverage" />
                            </label>
                        </li>
                        <li>
                            <input type="radio" id="cb2" name="rad1"  (change)="displayValue('comodity','Fish');"/>
                            <label for="cb2">
                                <img src="assets/img/fish.svg" />
                            </label>
                        </li>
                        <li>
                            <label for="cb3">
                            <input type="radio" id="cb3" name="rad1" (change)="displayValue('comodity','Fertillizer');"/>
                                <img src="assets/img/fertillizer.svg" />
                            </label>
                        </li>
                        <li>
                            <input type="radio" id="cb4" name="rad1" (change)="displayValue('comodity','Shoes');" />
                            <label for="cb4">
                                <img src="assets/img/football-shoes.svg" />
                            </label>
                        </li>
                        <li>
                            <input type="radio" id="cb5" name="rad1" (change)="displayValue('comodity','Chemicals');"/>
                            <label for="cb5">
                                <img src="assets/img/flasks.svg" />
                            </label>
                        </li>
                        <li>
                            <input type="radio" id="cb6" name="rad1" (change)="displayValue('comodity','Food');"/>
                            <label for="cb6">
                                <img src="assets/img/diet.svg" />
                            </label>
                        </li>
                        <li>
                            <input type="radio" checked id="cb7" name="rad1" (change)="displayValue('comodity','Clothes');"/>
                            <label for="cb7">
                                <img src="assets/img/clothes.svg" />
                            </label>
                        </li>
                    </ul>
                </div>
                <!-- <span class="myredbold">Charge Type</span> -->
                <p></p>
                <div>
                    <div class="col-md-3 col-md-offset-1 switch">
                        <input type="radio" [(ngModel)]="apiList.chargeType" class="switch-input" name="view" value="week" id="week" (change)="displayValue('chargeType','Prepaid');">
                        <label for="week" class="switch-label switch-label-off {{checked}}" id="prepaid_swtch">Prepaid</label>
                        <input type="radio" [(ngModel)]="apiList.chargeType" class="switch-input" name="view" value="month" id="month" (change)="displayValue('chargeType','Credit');">
                        <label for="month" class="switch-label switch-label-on">Credit</label>
                        <span class="switch-selection"></span>
                    </div>
    
                </div>
                <br/>
                
    
                <div class="sliderContainer">
                        <!-- <span style="float: left" class="myredbold">Parties</span> -->
                    <div class="row">
                        <!-- Dots/bullets/indicators -->
                        <div class="dot-container ">
                            <span class="dot" (click)="currentSlide(1)"></span>
                            <span class="dot" (click)="currentSlide(2)"></span>
                            <span class="dot" (click)="currentSlide(3)"></span>
                        </div>
                        <div class="col-md-9" style="margin-bottom: 10px"></div>
                        <div class="slideshow-container">
    
                            <div class="mySlides">
                                <div class="col-lg-12">
                                    <label class="myredbold">Shipper</label>
                                    <div class="row">
                                        <div class="col-lg-5">
    
                                            <div>
                                                <mat-form-field class="example-full-width">
                                                    <input matInput [(ngModel)]="shipper.name" name="bookingParties" type="text" class="" id="Name" placeholder="  Name">
                                                </mat-form-field>
                                            </div>
                                            <div>
                                                <mat-form-field class="example-full-width">
                                                    <input matInput [(ngModel)]="shipper.addressLine1" type="text" class="" name="bookingParties" id="AddressLine1" placeholder="  Address Line 1">
                                                </mat-form-field>
                                            </div>
                                            <div>
                                                <mat-form-field class="example-full-width">
                                                    <input matInput [(ngModel)]="shipper.addressLine2" name="bookingParties" type="text" class="" id="AddressLine2" placeholder="  Address Line 2">
                                                </mat-form-field>
                                            </div>
                                            <div>
    
                                                <mat-form-field>
                                                    <mat-select [(value)]="selected" placeholder="Select City" [(ngModel)]="shipper.city" name="city" class="">
                                                        <mat-option value="Marseille">Marseille</mat-option>
                                                        <mat-option value="Lyon">Lyon</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
    
                                            </div>
                                        </div>
                                        <div class="col-lg-5">
                                            <div>
                                                <mat-form-field>
                                                    <mat-select [(ngModel)]="shipper.country" placeholder="Select Country" name="country" class="">
    
                                                        <mat-option value="France">France</mat-option>
                                                        <mat-option value="Germany">Germany</mat-option>
                                                        <mat-option value="Finland">Finland</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <div>
                                                <mat-form-field class="example-full-width">
                                                    <input matInput [(ngModel)]="shipper.postalCode" name="postalCode" type="text" class="" id="PostalCode" placeholder="  Postal Code">
                                                </mat-form-field>
                                            </div>
                                            <div>
                                                <mat-form-field class="example-full-width">
                                                    <input matInput [(ngModel)]="shipper.email" name="email" type="email" class="" id="Email" placeholder="  Email">
                                                </mat-form-field>
                                            </div>
                                            <div>
                                                <mat-form-field class="example-full-width">
                                                    <input matInput [(ngModel)]="shipper.phone" name="phone" type="text" class="" id="Phone" placeholder="  Phone">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
    
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="mySlides">
                                <div class="col-lg-12">
                                    <label class="myredbold">Consignee</label>
                                    <div class="row">
                                        <div class="col-lg-5">
                                            <div>
                                                <mat-form-field class="example-full-width">
                                                    <input matInput [(ngModel)]="consignee.name" name="name" type="text" class="" id="Name" placeholder="  Name">
                                                </mat-form-field>
                                            </div>
                                            <div>
                                                <mat-form-field class="example-full-width">
                                                    <input matInput [(ngModel)]="consignee.addressLine1" name="addressLine1" type="text" class="" id="AddressLine1" placeholder="  Address Line 1">
                                                </mat-form-field>
                                            </div>
                                            <div>
                                                <mat-form-field class="example-full-width">
                                                    <input matInput [(ngModel)]="consignee.addressLine2" name="addressLine2" type="text" class="" id="AddressLine2" placeholder="  Address Line 2">
                                                </mat-form-field>
                                            </div>
                                            <div>
                                                <mat-form-field>
                                                    <mat-select [(ngModel)]="consignee.city" name="city" class="" placeholder="Select City">
                                                        <mat-option value="Manhattan">Manhattan</mat-option>
                                                        <mat-option value="Boston">Boston</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="col-lg-5">
    
                                            <div>
                                                <mat-form-field>
                                                    <mat-select placeholder="Select Country" [(ngModel)]="consignee.country" name="country" class="">
                                                        <mat-option value="United States">United States</mat-option>
                                                        <mat-option value="Canada">Canada</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <div>
                                                <mat-form-field class="example-full-width">
                                                    <input matInput [(ngModel)]="consignee.postalCode" name="postalCode" type="text" class="" id="PostalCode" placeholder="  Postal Code">
                                                </mat-form-field>
                                            </div>
                                            <div>
                                                <mat-form-field class="example-full-width">
                                                    <input matInput [(ngModel)]="consignee.email" name="email" type="email" class="" id="Email" placeholder="  Email">
                                                </mat-form-field>
                                            </div>
                                            <div>
                                                <mat-form-field class="example-full-width">
                                                    <input matInput [(ngModel)]="consignee.phone" name="phone" type="text" class="" id="Phone" placeholder="  Phone">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="mySlides">
                                <div class="col-lg-12">
                                    <label class="myredbold">Forwarder</label>
    
                                    <div class="row">
                                        <div class="col-lg-5">
                                            <div>
                                                <mat-form-field class="example-full-width">
                                                    <input matInput [(ngModel)]="forwarder.name" name="f_name" type="text" class="" id="Name" placeholder="  Name">
                                                </mat-form-field>
                                            </div>
                                            <div>
                                                <mat-form-field class="example-full-width">
                                                    <input matInput [(ngModel)]="forwarder.addressLine1" name="f_addressLine1" type="text" class="" id="AddressLine1" placeholder="  Address Line 1">
                                                </mat-form-field>
                                            </div>
                                            <div>
                                                <mat-form-field class="example-full-width">
                                                    <input matInput [(ngModel)]="forwarder.addressLine2" name="f_addressLine2" type="text" class="" id="AddressLine2" placeholder="  Address Line 2">
                                                </mat-form-field>
                                            </div>
                                            <div>
    
                                                <mat-form-field>
                                                    <mat-select placeholder="Select City" [(ngModel)]="forwarder.city" name="f_city" class="">
                                                        <mat-option>Marseille</mat-option>
                                                        <mat-option>Lyon</mat-option>
                                                        <mat-option>Strasbourg</mat-option>
                                                        <mat-option>Delhi</mat-option>
                                                        <mat-option>Kolkata</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="col-lg-5">
                                            <div>
                                                <mat-form-field>
                                                    <mat-select placeholder="Select Country" [(ngModel)]="forwarder.country" name="f_country" class="">
                                                        <mat-option>France</mat-option>
                                                        <mat-option>Germany</mat-option>
                                                        <mat-option>Finland</mat-option>
                                                        <mat-option>India</mat-option>
                                                        <mat-option>US</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <div>
                                                <mat-form-field class="example-full-width">
                                                    <input matInput [(ngModel)]="forwarder.postalCode" name="f_postalCode" type="text" class="" id="PostalCode" placeholder="  Postal Code">
                                                </mat-form-field>
                                            </div>
                                            <div>
                                                <mat-form-field class="example-full-width">
                                                    <input matInput [(ngModel)]="forwarder.email" name="f_email" type="email" class="" id="Email" placeholder="  Email">
                                                </mat-form-field>
                                            </div>
                                            <div>
                                                <mat-form-field class="example-full-width">
                                                    <input matInput [(ngModel)]="forwarder.phone" name="f_phone" type="text" class="" id="Phone" placeholder="  Phone">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <!-- Next/prev buttons -->
                            <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
                            <a class="next" (click)="plusSlides(1)">&#10095;</a>
                        </div>
    
    
                    </div>
                </div>
                <div>
    
                </div>
            </div>
            <div class="col-sm-4 sidePanel col-xs-12 pull-left">
                    <div class="panel-group my-panel">
                        <div class="panel panel-default panel-red">
                            <div class="panel-heading">Summary</div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table">
        
                                        <tbody>
                                            <tr>
                                                <td>Container Type</td>
                                                <td>{{containerType}}</td>
                                            </tr>
                                            <tr>
                                                <td>Commodity</td>
                                                <td>{{comodity}}</td>
                                            </tr>
                                            <tr>
                                                <td>Refer</td>
                                                <td>{{reefer}}</td>
                                            </tr>
                                            <tr>
                                                <td>Payment Mode</td>
                                                <td>{{chargeType}}</td>
                                            </tr>
                                            <tr>
                                                <td>Total</td>
                                                <td><span class="myred">&euro; {{total}}</span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            </div>
                            <div class="panel-footer"><button type="submit" class="btn btn-regular-dark">Submit</button></div>
                        </div>
                    </div>
                </div>
    </form>