<form #bookingForm="ngForm" name="bookingForm" (ngSubmit)="createBooking()" >              
<div class="row">
                        <div class="col-md-12">
                            <div style="margin-bottom: 20px;">
                                <ul class="nav nav-pills custom-tabs" role="tablist">
                                    <li role="presentation" class="active"><a href="#BookingHeader" class="waves-effect waves-light" aria-controls="BookingHeader" role="tab" data-toggle="tab">Booking Header</a></li>
                                    <li role="presentation"><a href="#BookingParties" class="waves-effect waves-light" aria-controls="BookingParties" role="tab" data-toggle="tab">Booking Parties</a></li>
                                    <li role="presentation"><a href="#CargoDetails" class="waves-effect waves-light" aria-controls="CargoDetails" role="tab" data-toggle="tab">Cargo Details</a></li>
                                </ul>
                                <div class="tab-content custom-tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="BookingHeader">
                                        <div class="row">
                                            <div class="col-md-4 col-sm-6">
                                                <div class="form-group">
                                                    <label for="ContractNumber">Contract Number</label>
                                                    <input [(ngModel)]="apiList.contractNumber" type="text" class="form-control" name="ContractNumber" #ContractNumber="ngModel"  id="ContractNumber"  placeholder="Enter Contract Number">
                                                </div>
                                                <div class="form-group">
                                                    <label for="BookingOffice">Booking Office</label>
                                                    <input [(ngModel)]="apiList.bookingOffice" type="text" class="form-control" id="BookingOffice" name="BookingOffice" #BookingOffice="ngModel" placeholder="Enter Booking Office Location">
                                                </div>
                                                <div class="form-group">
                                                    <label for="ShipperReference">Shipper Reference</label>
                                                    <input [(ngModel)]="apiList.shipperReference"  type="text" class="form-control" id="ShipperReference" name="ShipperReference" #ShipperReference="ngModel" placeholder="Enter Shipper Reference">
                                                </div>
                                                <div class="form-group">
                                                    <label for="ForwarderReference">Forwarder Reference</label>
                                                    <input [(ngModel)]="apiList.forwarderReference"  type="text" class="form-control" id="ForwarderReference" name="ForwarderReference" #ForwarderReference="ngModel" placeholder="Enter Forwarder Reference">
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-6">
                                                <div class="form-group">
                                                    <label for=" Type">Charge Type</label>
                                                    <select [(ngModel)]="apiList.chargeType" name="ChargeType" #ChargeType="ngModel" class="form-control">
                                                        <option value="bfC" selected>Basic Freight</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="FreightTerm">Freight Term</label>
                                                    <select [(ngModel)]="apiList.freightTerm" name="FreightTerm" #FreightTerm="ngModel" class="form-control">
                                                        <option value="prepaid">Prepaid</option>
                                                        <option value="collect">Collect</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="Payer">Payer</label>
                                                    <select [(ngModel)]="apiList.payer" name="Payer" #Payer="ngModel" class="form-control">
                                                        <option value="Shipper">Shipper</option>
                                                        <option value="Consignee">Consignee</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-12">
                                                <div class="form-group">
                                                    <label for="Comments">Comments</label>
                                                    <textarea [(ngModel)]="apiList.comments" name="Comments" #Comments="ngModel" class="form-control" rows="12"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="BookingParties">
                                        <div class="row">
                                            <div class="col-md-4 col-sm-6">
                                                <div class="panel panel-primary">
                                                    <div class="panel-heading">
                                                        <h3 class="panel-title">Shipper</h3>
                                                    </div>
                                                   <div class="panel-body">
                                                        <div class="form-group">
                                                            <label for="Name">Name</label>
                                                            <input [(ngModel)]="shipper.name" name="sname" #sname="ngModel" type="text" class="form-control" placeholder="Enter Name"  
                                                                    pattern="[A-Za-z-\s]+">
                                                                <span *ngIf="sname.invalid && sname.touched" class="invalid-feedback">
                                                                    Please enter valid name
                                                                </span>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="AddressLine1">Address Line 1</label>
                                                            <input [(ngModel)]="shipper.addressLine1" type="text" class="form-control" #saddressLine1="ngModel" 
                                                                name="saddressLine1" id="AddressLine1" placeholder="Enter Address Line 1" pattern="[^@$%`~!]+">
                                                            <span *ngIf="saddressLine1.invalid && saddressLine1.touched" class="invalid-feedback">
                                                               Address should not contain any special characters!!
                                                                </span>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="AddressLine2">Address Line 2</label>
                                                            <input [(ngModel)]="shipper.addressLine2" name="saddressLine2" type="text" #saddressLine2="ngModel" class="form-control" id="AddressLine2" placeholder="Enter Address Line 2" pattern="[^@$%`~!]+">
                                                                <span *ngIf="saddressLine2.invalid && saddressLine2.touched" class="invalid-feedback">
                                                                    Address should not contain any special characters!!
                                                                </span>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="City">City</label>
                                                            <select [(ngModel)]="shipper.city" name="scity" class="form-control">
                                                                <option>Marseille</option>
                                                                <option>Lyon</option>
                                                                <option>Strasbourg</option>
                                                                <option>Delhi</option>
                                                                <option>Kolkata</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="Country">Country</label>
                                                            <select [(ngModel)]="shipper.country" name="scountry" class="form-control">
                                                                <option>France</option>
                                                                <option>Germany</option>
                                                                <option>Finland</option>
                                                                <option>India</option>
                                                                <option>US</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group">
                                                           <label for="PostalCode">Postal Code</label>
                                                            <input [(ngModel)]="shipper.postalCode"  name="spostalCode" #spostalCode="ngModel" type="text" class="form-control" 
                                                                id="PostalCode" placeholder="Enter Postal Code" pattern="^[0-9]{5,9}$">
                                                                <span *ngIf="spostalCode.invalid && spostalCode.touched" class="invalid-feedback">
                                                                    Please enter a valid postal Code
                                                                    
                                                                </span>
                                                        </div>
                                                        <div class="form-group">
                                                             <label for="Email">Email</label>
                                                            <input type="email" [(ngModel)]="shipper.email" name="email" #semail="ngModel"   class="form-control" 
                                                            id="Email" placeholder="Enter Email" pattern="[\w\.]+@.+">
                                                                <span *ngIf="semail.invalid && semail.touched" class="invalid-feedback">
                                                                    Please enter a valid email id.
                                                                </span>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="Phone">Phone</label>
                                                            <input [(ngModel)]="shipper.phone" name="sphone" #sphone="ngModel" type="text" class="form-control" 
                                                            id="Phone" placeholder="Enter Phone" pattern="^[0-9\-\+]{9,15}$">
                                                                <span *ngIf="sphone.invalid && sphone.touched" class="invalid-feedback">
                                                                    Please enter a valid phone number.
                                                                </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-6">
                                                <div class="panel panel-primary">
                                                    <div class="panel-heading">
                                                        <h3 class="panel-title">Consignee</h3>
                                                    </div>
                                                    <div class="panel-body">
                                                        <div class="form-group">
                                                             <label for="Name">Name</label>
                                                            <input [(ngModel)]="consignee.name" name="cname" #cname="ngModel" type="text" class="form-control" 
                                                            id="Name" placeholder="Enter Name" pattern="[A-Za-z-\s]+">
                                                                <span *ngIf="cname.invalid && cname.touched" class="invalid-feedback">
                                                                    Please enter valid name
                                                                </span>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="AddressLine1">Address Line 1</label>
                                                            <input [(ngModel)]="consignee.addressLine1" name="caddressLine1" #caddressLine1="ngModel" type="text" class="form-control" id="AddressLine1" 
                                                            placeholder="Enter Address Line 1" pattern="[^@$%`~!]+">
                                                            <span *ngIf="caddressLine1.invalid && caddressLine1.touched" class="invalid-feedback">
                                                               Address should not contain any special characters!!
                                                            </span>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="AddressLine2">Address Line 2</label>
                                                            <input [(ngModel)]="consignee.addressLine2" name="caddressLine2" #caddressLine2="ngModel"  type="text" class="form-control" 
                                                            id="AddressLine2" placeholder="Enter Address Line 2" pattern="[^@$%`~!]+">
                                                            <span *ngIf="caddressLine2.invalid && caddressLine2.touched" class="invalid-feedback">
                                                               Address should not contain any special characters!!
                                                            </span>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="City">City</label>
                                                            <select [(ngModel)]="consignee.city" name="ccity" class="form-control">
                                                                <option data-ng-selected="Marseille">Marseille</option>
                                                                <option>Lyon</option>
                                                                <option>Strasbourg</option>
                                                                <option>Delhi</option>
                                                                <option>Kolkata</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="Country">Country</label>
                                                            <select [(ngModel)]="consignee.country" name="ccountry"  class="form-control">
                                                                <option ng-selected="France">France</option>
                                                                <option>Germany</option>
                                                                <option>Finland</option>
                                                                <option>India</option>
                                                                <option>US</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="PostalCode">Postal Code</label>
                                                            <input [(ngModel)]="consignee.postalCode" name="cpostalCode" #cpostalCode="ngModel" type="text" class="form-control" 
                                                            id="PostalCode" placeholder="Enter Postal Code" pattern="^[0-9]{5,9}$">
                                                            <span *ngIf="cpostalCode.invalid && cpostalCode.touched" class="invalid-feedback">
                                                                    Please enter a valid postal Code
                                                                    
                                                            </span>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="Email">Email</label>
                                                            <input [(ngModel)]="consignee.email" name="cemail" #cemail="ngModel" type="email" class="form-control" 
                                                            id="Email" placeholder="Enter Email" pattern="[\w\.]+@.+">
                                                            <span *ngIf="cemail.invalid && cemail.touched" class="invalid-feedback">
                                                               Please enter a valid email id.
                                                                </span>
                                                        </div>
                                                        <div class="form-group">
                                                             <label for="Phone">Phone</label>
                                                            <input [(ngModel)]="consignee.phone" name="cphone" #cphone="ngModel" type="text" class="form-control" 
                                                            id="Phone" placeholder="Enter Phone" pattern="^[0-9\-\+]{9,15}$">
                                                            <span *ngIf="cphone.invalid && cphone.touched" class="invalid-feedback" >
                                                                    Please enter a valid phone number.
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-12">
                                                <div class="panel panel-primary">
                                                    <div class="panel-heading">
                                                        <h3 class="panel-title">Forwarder</h3>
                                                    </div>
                                                    <div class="panel-body">
                                                        <div class="form-group">
                                                            <label for="Name">Name</label>
                                                            <input [(ngModel)]="forwarder.name" name="fname" #fname="ngModel" type="text" class="form-control" id="Name" placeholder="Enter Name" pattern="[A-Za-z-\s]+">
                                                             <span *ngIf="fname.invalid && fname.touched" class="invalid-feedback">
                                                                    Please enter valid name
                                                            </span>
                                                        </div>
                                                        <div class="form-group">
                                                           <label for="AddressLine1">Address Line 1</label>
                                                            <input [(ngModel)]="forwarder.addressLine1" name="faddressLine1" #faddressLine1="ngModel" type="text" 
                                                            class="form-control" id="AddressLine1" placeholder="Enter Address Line 1" pattern="[^@$%`~!]+">
                                                                <span *ngIf="faddressLine1.invalid && faddressLine1.touched" class="invalid-feedback">
                                                                Address should not contain any special characters!!
                                                                </span>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="AddressLine2">Address Line 2</label>
                                                            <input [(ngModel)]="forwarder.addressLine2" name="faddressLine2" #faddressLine2="ngModel" 
                                                            type="text" class="form-control" id="AddressLine2" placeholder="Enter Address Line 2" pattern="[^@$%`~!]+">
                                                                <span *ngIf="faddressLine2.invalid && faddressLine2.touched" class="invalid-feedback">
                                                                    Address should not contain any special characters!!
                                                                </span>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="City">City</label>
                                                            <select [(ngModel)]="forwarder.city" name="fcity" class="form-control">
                                                                <option data-ng-selected="Marseille">Marseille</option>
                                                                <option >Lyon</option>
                                                                <option>Strasbourg</option>
                                                                <option>Delhi</option>
                                                                <option>Kolkata</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="Country">Country</label>
                                                            <select [(ngModel)]="forwarder.country" name="fcountry"  class="form-control">
                                                                <option >France</option>
                                                                <option>Germany</option>
                                                                <option>Finland</option>
                                                                <option>India</option>
                                                                <option>US</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group">
                                                              <label for="PostalCode">Postal Code</label>
                                                            <input [(ngModel)]="forwarder.postalCode" name="fpostalCode" #fpostalCode="ngModel" type="text" 
                                                            class="form-control" id="PostalCode" placeholder="Enter Postal Code" pattern="^[0-9]{5,9}$">
                                                                <span *ngIf="fpostalCode.invalid && fpostalCode.touched" class="invalid-feedback">
                                                                        Please enter a valid postal Code
                                                                        Min. 5 digits are allowed.
                                                                </span>
                                                        </div>
                                                        <div class="form-group">
                                                             <label for="Email">Email</label>
                                                            <input [(ngModel)]="forwarder.email" name="femail" #femail="ngModel" type="email" class="form-control" 
                                                            id="Email" placeholder="Enter Email" pattern="[\w\.]+@.+">
                                                                <span *ngIf="femail.invalid && femail.touched" class="invalid-feedback">
                                                                     Please enter a valid email id.
                                                                </span>
                                                        </div>
                                                        <div class="form-group">
                                                              <label for="Phone">Phone</label>
                                                            <input [(ngModel)]="forwarder.phone" name="fphone" #fphone="ngModel" type="text" class="form-control" 
                                                            id="Phone" placeholder="Enter Phone" pattern="^[0-9\-\+]{9,15}$">
                                                            <span *ngIf="fphone.invalid && fphone.touched" class="invalid-feedback" >
                                                                    Please enter a valid phone number.
                                                            </span>
                                                        </div>
                                                          
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="CargoDetails">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th style="min-width: 100px;">CTR Type</th>
                                                        <th style="min-width: 75px;">Count</th>
                                                        <th style="min-width: 160px;">Description</th>
                                                        <th style="min-width: 160px;">HS Code</th>
                                                        <th style="min-width: 190px;">Gross Wt.</th>
                                                        <th style="min-width: 190px;">Gross Vol.</th>
                                                        <th style="min-width: 85px;">Pkg Count</th>
                                                        <th style="min-width: 65px;">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let cargoList of fieldArray; let i = index">
                                                        <td>
                                                            <select [(ngModel)]="cargoList.containerType" name="containerType{{i}}" class="form-control">
                                                                <option data-ng-selected="D20">D20</option>
                                                                <option>D40 </option>
                                                                <option>40RF</option>
                                                                <option>45HC</option>
                                                                
                                                            </select>
                                                            
                                                        </td>
                                                        <td>
                                                            <input [(ngModel)]="cargoList.containerCount" name="containerCount{{i}}" (change)="updateJourney('container', 'bookingForm1')" type="number" class="form-control" placeholder="Enter Count" value="5">
                                                          </td>
                                                        <td>
                                                            <textarea [(ngModel)]="cargoList.description" name="description{{i}}" class="form-control" rows="1">Shirts</textarea>
                                                        </td>
                                                        <td>
                                                            <select [(ngModel)]="cargoList.hsCode" name="hsCode{{i}}" class="form-control">
                                                                <option selected>CLOTHES</option>
                                                                <option>SHOES</option>
                                                                <option>HARDWARES</option>
                                                                <option>AUTOMOBILES</option>
                                                                <option>LIQUID</option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <div style="display: flex">
                                                                <input [(ngModel)]="cargoList.grossWeight" name="grossWeight{{i}}" type="number" class="form-control" placeholder="Enter Count" value="1000">
                                                                <select [(ngModel)]="cargoList.grossWeightUnit" name="grossWeightUnit{{i}}" class="form-control" style="width: 100px;">
                                                                    <option selected>KG</option>
                                                                    <!--option>POUND</option-->
                                                                </select>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div style="display: flex">
                                                                <input [(ngModel)]="cargoList.grossVolume" name="grossVolume{{i}}" type="number" class="form-control" placeholder="Enter Count" value="230">
                                                                <select [(ngModel)]="cargoList.grossVolumeUnit" name="grossVolumeUnit{{i}}" class="form-control">
                                                                    <option>CBM</option>
                                                                    <option>M1</option>
                                                                    <option>M2</option>
                                                                    <option selected>M3</option>
                                                                    <option>M4</option>
                                                                </select>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <input [(ngModel)]="cargoList.packageCount" name="packageCount{{i}}" type="number" class="form-control" placeholder="Package Count" value="120">
                                                        </td>
                                                               <td>
                                                             <a (click)="deleteThisCargoLine(i)" class="btn-floating waves-effect waves-light" title="Delete Row">
                                                                <i class="material-icons"><span class="glyphicon glyphicon-trash"></span></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    
                                                </tbody>
                                            </table>
                                            
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <a (click)="addNewCargoLine()" class="btn-floating waves-effect waves-light" title="Add Row">
                                                    <i class="material-icons"><span class="glyphicon glyphicon-plus"></span></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-2 col-sm-offset-5">
                            <button  type="submit"  id="findOptions" class="btn btn-lg btn-regular">
                            <i class="material-icons"><span class="glyphicon glyphicon-plus"></span></i>
                            </button>
                            <!--a class="btn btn-regular-dark waves-effect waves-light text-center" title="Submit Form">
                                <i class="material-icons"><span class="glyphicon glyphicon-edit"></span></i>
                            </a-->
                        </div>
                    </div>
</form>